@import 'partials/_variables';
@import 'partials/_mixins';
@import 'partials/_common';
@import 'partials/_main_album';

// HEADER
header {
  background-color: $secondary_color;
  height: $header_height;

  .container {
    align-items: center;
    height: 100%;

    img {
      height: 40px;
    }
  }
}

// MAIN
main {
  background-color: $primary_color;
  height: calc(100vh - #{$header_height});
  overflow-y: auto;
  color: $third_color;

  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
